p {
    color: #f0f0f0;
    text-align: left;
}
.heading {
    padding: 5px 15px;
    text-align: center;
    margin-bottom: 35px;
    height: 21vh;
}
.heading h2 code {
    color: rgba(0,134,255,3);
    cursor: pointer;
}
.container {
    padding: 20px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px;
}
.showcase {
    height: 90vh;
    position: relative;
}
.showcase .card:nth-child(1), 
.card:nth-child(2), 
.card:nth-child(3),
.card:nth-child(4),
.card:nth-child(5){
    position: absolute;
}
.showcase .card:nth-child(1){
    top: 0;
    left: 0;
}
.showcase .card:nth-child(3){
    right: 0;
    bottom: 0;
}
.showcase .card:nth-child(4){
    left: 0;
    bottom: 0;
}
.showcase .card:nth-child(5){
    top: 0;
    right: 0;
}
.card {
    display: block;
    padding: 10px 15px;
    box-shadow: 0px 0px 15px -5px #f0f0f0;
    margin: 0px 15px;
    width: 30%;
}
.card .card-Img {
    padding: 10px;
    overflow: hidden;
    text-align: center;
}
.card .card-Img i {
    font-size: 30px;
    border: none;
    border-radius: 50px;
    padding: 15px;
    color: #f0f0f0;
    
}
.card .card-content {
    padding: 5px 15px;
}
.card-content .card-title {
    padding: 5px 0px;
}
.card-content .card-body {
    padding: 5px 2px;
}
.card-content .card-btn , .card-btn{
    padding: 5px 0px;
}
.card-content .card-btn button ,.card-btn button{
    background-color: rgba(0,134,255);
    border: none;
    padding: 12px 18px;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 760px) {
    p {
        text-align: center;
    }
    .heading {
        padding: 5px 15px;
    }
    .heading h2 {
        text-align: left;
        margin: 5px 0px;
    }
    .heading p {
        text-align: left;
    }
    .heading .card-btn {
        text-align: left;
        margin: 5px 0px;
    }
    .container {
        padding: 20px 15px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .showcase{
        height: initial;
    }
    .showcase .card:nth-child(1), 
    .card:nth-child(2), 
    .card:nth-child(3),
    .card:nth-child(4),
    .card:nth-child(5){
        position: initial;
    }
    .card:nth-child(4),
    .card:nth-child(5) {
        display: none;
    }
    .card {
        padding: 10px;
        margin: 15px 0px;
        width: 80%;
        display: block;
        text-align: center;
    }
}